/*  Inter Regular */
@font-face {
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    src: url('@assets/fonts/InterTight-Regular.ttf') format('truetype');
}

/*  Inter Medium */
@font-face {
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    src: url('@assets/fonts/InterTight-Medium.ttf') format('truetype');
}

/*  Inter Medium */
@font-face {
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    src: url('@assets/fonts/InterTight-SemiBold.ttf') format('truetype');
}
